@charset "UTF-8";	
.modal-backdrop.in
{
	display: none;
	z-index: 0;
}
.show:after {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 0;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.cf {
	*zoom: 1;
}
.cf:before,
.cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
.wrap01
{
	width: 1170px;
	margin: 0 auto;
}
.wrap02
{
	width: 1032px;
	margin: 0 auto;
}
.content
{
	max-width: 1920px;
	margin: 90px auto 0;
}
/* end reset*/
/*header*/
.headerArea {
	background: #fff;
	z-index: 5;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
.headerArea .wrap01 {
	padding: 24px 0 21px;
}
.headerArea .headerLogo {
	width: 20%;
}
.headerArea .navArea {
	width: 65%;
}
.headerArea .navArea li {
	float: left;
	width: 20%;
}
.headerArea .navArea li a {
	padding: 3px 0;
	display: block;
}
.headerArea .navArea li:last-child a {
	padding: 13px 0;
}
.headerArea .navArea li.active a,
.headerArea .navArea li a:hover {
	text-decoration: none;
}
.headerArea .nav-tabs {
	border-bottom: none;
}
.headerArea .nav-tabs>li>a {
	margin-right: 0;
	line-height: 1.3;
	border: none;
	border-radius: 0;
	text-align: center;
}
.headerArea .nav-tabs>li>a:hover {
	border: none !important;
	color: #3798e8 !important;
	font-weight: 700 !important;
}
.headerArea .nav-tabs>li.active>a, 
.headerArea .nav-tabs>li.active>a:focus, 
.headerArea .nav-tabs>li.active>a:hover {
	color: #3798e8 !important;
	background-color: transparent !important;
	border: none !important;
	font-weight: 700 !important;
}
.headerArea .nav>li>a:focus,
.headerArea .nav>li>a:active {
	color: inherit !important;
	background-color: transparent !important;
}
.headerArea .nav>li>a:hover {
	color: #3798e8 !important;
	font-weight: 700 !important;
	background-color: transparent !important;
}
.mobileMenu,
.hotline a.sp {
	display: none;
}
.hotline {
	width: 15%;
	text-align: right;
	margin-top: 12px;
}
.hotline a {
	padding: 5px 6px 5px 21px;
	color: #52c6d4;
	background: url(../images/ico_phone.png) left top no-repeat;
}
/*end header */
/*content*/
.mainVisualInner {
	width: 100%;
	margin: 0 auto;
	background: url(../images/mainVisual_bg.jpg) center center no-repeat;
	padding: 204px 0 304px;
}
.mainVisualSP {
	display: none;
}
.mainVisualInner .image {
	text-align: right;
	margin-right: -36px;
}
.mainVisualInner .image img {
	border: 2px solid #ddd;
	width: 608px;
}
.section01 {
	padding: 57px 0 80px;
	background: url(../images/section01_bg.jpg) center center no-repeat;
}
.section01 .title {
    text-align: center;
    margin-bottom: 22px;
}
.section01 .slick-prev, 
.section01 .slick-next {
	width: 30px;
	height: 75px;
}
.section01 .slick-prev {
	left: 0;
}
.section01 .slick-next {
	right: 0;
}
.section01 .slick-initialized .slick-slide {
	display: block;
	padding: 0 113.5px;
}
.section01 .sp {
	display: none;
}
.section02 {
	padding: 81px 0 80px;
	background: url(../images/section02_bg.jpg) center center no-repeat;
}
.section02 .section02Outer {
	width: 970px;
	margin: 0 auto;
	background: url(../images/section02_video_bg.png) center center no-repeat;
}
.section02Inner {
	padding: 98px 60px 65px;
}
br.sp {
	display: none;
}
.section02 p {
	font-family: "Times New Roman", serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 250%;
	font-weight: 700;
	letter-spacing: 2px;
}
.section02 p.text01 {
	font-weight: 400;
	color: #9c9cb6;
	margin-bottom: 20px;
}
.section02 p.text02 {
	color: #059de0;
	margin-bottom: 40px;
	letter-spacing: -0.5px;
}
.section02 p.text03 {
	font-size: 312.5%;
	color: #1cb8c5;
	margin-top: 45px;
	margin-bottom: 15px;
}
.section02 p.text04 {
	color: #1cb8c5;
}
.hideSP {
	display: none!important;
}
#section03 {
	background: url(../images/bg_section03.jpg) center top no-repeat;
  min-height: 1497px;
}
.section03Inner .title {
	padding: 76px 0 26px;
	text-align: center;
}
.section03Inner .rel {
	position: relative;
	height: 1301px;
}
.section03Inner .step01 {
	position: absolute;
	top: 0;
	left: 2px;
}
.section03Inner .step02 {
	position: absolute;
	top: 323px;
	right: -1px;
}
.section03Inner .step03 {
	position: absolute;
	top: 626px;
	left: 13px;
}
.section03Inner .notice {
	position: absolute;
	top: 1042px;
	left: -14px;
}
.section03Inner .point {
	position: absolute;
	top: 1230px;
  left: 222px;
}
#section04 {
	background: url(../images/bg_section04.jpg) center no-repeat;
}
.section04Inner {
	width: 970px;
	margin: 0 auto;
	padding-bottom: 70px;
}
.section04Inner .title {
	padding: 40px 0 39px 0;
  text-align: center;
}

.section04Inner .bannerList .box {
	background: #d7f8fd;
	max-width: 100%;
	text-align: center;
	display: block;
	padding: 41px 16px 44px;
}
.section04Inner .bannerList .box.tti {
	padding-left: 40px;
}
.section04Inner .bannerList .box .image {
	width: 35%;
	padding: 4px 0;
}
.section04Inner .bannerList .box .image img {
	max-width: 339px;
}
.section04Inner .bannerList .box .text {
	width: 65%;
	font-size: 125%;
	font-family: "Constantia";
}
.section04Inner .bannerList .box.tti .text {
	padding-right: 15px;
}
.section04Inner .bannerList .box.itt .text {
	padding-left: 15px;
}
.section04Inner .bannerList .box .text .txt {
	text-align: left;
	line-height: 1.5;
	letter-spacing: 0;
}
.section04Inner .bannerList .box .text .txt01 {
	color:#099bd7;
	margin-top: 24px;
	padding-right: 43px;
	text-align: right;
}
.red {
	color: #eb5483;
}
.bannerList .slick-prev, 
.bannerList .slick-next {
    width: 30px;
    height: 75px;
}
.bannerList .slick-prev:before {
	background: url(../images/ico_prev.png)left top no-repeat;
}
.bannerList .slick-prev {
	top: 147.5px;
	left: -100px;
}
.bannerList .slick-next {
	top: 147.5px;
	right: -100px;
}
.bannerList .slick-next:before {
	background: url(../images/ico_next.png) left top no-repeat;
}
.slick-slide img {
    width: 100%;
}
#section05 {
	padding-bottom: 60px;
	position: relative;
}
#section05 .sec05Top ul li {
	display: inline-block;
}
.sec05Top .sp50 {
	padding: 19px 32px 42px 83px;
}
.sec05Top .logo {
	padding-top: 83px;
}
.sec05Top .star {
	padding: 54px 0 0 59px;
}
.sec05Content .proShow {
	float: left;
	margin-top: 1px;
}
.sec05Content .proShow .coupon {
		margin-top: 10px;
}
.sliderFor {
	width: 201px;
	padding-right: 1px;
}
.sliderFor li {
	border: 1px solid #dbdbdb;
}
.sliderFor .slick-slide img {
	width: 198px;
	height: 239px;
}
.sec05Content .proShow .sliderNav li {
	height: 60px;
	overflow: hidden;
	padding: 0 2px;
	margin-top: 2px;
}
.sliderNav {
	width: 201px;
}
.sliderNav .slick-list {
	padding: 0!important;
}
.sliderNav .slick-track {
	width: auto !important;
	margin: 0 -1px 0 -2px;
}
.sliderNav.slick-initialized .slick-slide {
	float: none;
	display: inline-block;
	width: 33.333333% !important;
}
/*price*/
.sec05Content .price {
	float: left;
	border: 2px solid #dbdbdb;
	margin: 0 30px 0 9px;
	min-height: 440px;
}
.sec05Content .price .box {
	background: url(../images/bg_price.jpg) center repeat-x;
  width: 356px;
  padding: 20px 0 23px 0;
  border-bottom: 2px solid #dbdbdb;
}
.sec05Content .price .box .txt01,.txt02 {
	font-family: "Time New Roman";
}
.sec05Content .price .box .txt01 {
	color: #e02b5e;
  font-weight: bold;
  font-size: 237.5%;
  line-height: 1.185;
  padding-left: 82px;
  letter-spacing: 0;
}
.sec05Content .price .box .txt02 {
	font-size: 137.5%;
  line-height: 1.636;
  padding-left: 61px;
  letter-spacing: 0.4px;
	color: #323232;
}
.price .priceBox {
	padding: 32px 0 30px;
}
.price .priceBox .txt01,
.price .priceBox .txt02,
.price .priceBox .txt03 {
	font-family: "Time New Roman";
	text-align: center;
}
.price .priceBox .txt01 {
	font-size: 187.5%;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.5px;
}
.price .priceBox .txt02 {
	background: url(../images/ico_down.png) center bottom no-repeat;
	font-size: 112.5%;
	padding: 0 0 72px;
	color: #ef7698;
	margin: 24px 0 29px;
	line-height: 1.2;
	letter-spacing: 0.4px;
}
.price .priceBox .txt03 {
	line-height: 0.9;
	font-weight: bold;
	font-size: 325%;
	color: #e02b5e;
	letter-spacing: 0.8px;
}
.sec05Content .contact {
	float: left;
	min-height: 440px;
	padding: 37px 18px 0;
	width: 570px;
	border: 2px solid #dbdbdb;
	box-sizing: border-box;
}
.contact .title {
	position: relative;
	font-size: 187.5%;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #07a0e5;
}
.contact .title h2 {
	display: inline-block;
	padding: 0 50px;
	position: relative;
}
.contact .title h2:before,
.contact .title h2:after {
	content: "";
	height: 1px;
	width: 38px;
	background: #07a0e5;
	position: absolute;
	top: 16px;
}
.contact .title.line h2:before,
.contact .title.line h2:after {
	top: 34px;
}
.contact .title h2:before {
	left: 0;
}
.contact .title h2:after {
	right: 0;
}
.contact p {
	text-align: center;
  line-height: 1.5;
  font-size: 87.5%;
  margin-bottom: 25px;
  padding-top: 5px;
  letter-spacing: 0;
	color: #323232;
}
.half {
  float: left;
  width: 49%;
}
.half #input-name, #input-email, #input-phone, #amount, #input-message {
	height: 50px;
	width: 255px;
  margin: 2px 0 8px 0;
	border-radius: 25px;
	border: 1px solid #07a0e5;
	padding: 0 20px;
	font-size: 87.5%;
	color: #a0a0a0;
	font-style: italic;
}
.half #input-message {
	padding-top: 19px;
  padding-bottom: 6px;
  resize: none;
  overflow: hidden;
  height: auto;
  border-radius: 20px;
  margin-top: 1px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .half #input-message {
		padding-top: 12px;
		padding-bottom: 0;
	}
}
.half input::placeholder {
	color: #a0a0a0;
	opacity: 1;
}
.half :-ms-input-placeholder { 
  color: #a0a0a0;
	opacity: 1;
}
.half ::-ms-input-placeholder { 
  color: #a0a0a0;
	opacity: 1;
}
textarea::placeholder {
  color: #a0a0a0;
}
textarea:-ms-placeholder {
  color: #a0a0a0;
	opacity: 1
}
textarea::-ms-placeholder{
  color: #a0a0a0;
	opacity: 1
}
textarea:-moz-placeholder {
  color: #a0a0a0;
	opacity: 1
}
textarea::-moz-placeholder{
  color: #a0a0a0;
	opacity: 1
}
.contact .right { 
	width: 48%; 
}
.contact .left {
  margin-right: 3%; 
}
.btnContact
{
	clear: both;
  padding-top: 12px;
}
#input-submit {
	background: url(../images/btnContact.png) center no-repeat;
	height: 64px;
	width: 302px;
	border:0; 
	outline:0;
	float: none;
	cursor: pointer;
	margin: 0 auto;
  display: block;
	clear: both;
}
.modal-dialog {
	position: absolute;
	left: 50%;
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	top: 40%;
	z-index: 1;
}
.alert-success {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 50px;
	line-height: 1.5;
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	text-align: center;
}
.close {
		opacity: 1;
    transition: all 0.5s ease;
    position: absolute;
    background-color: #07a5e7;
    padding: 4.5px 7px;
    top: -7px;
		right: -16px;
    margin-left: -10px;
    margin-top: -9px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: white;
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    box-shadow: -3px 1px 6px 0px rgba(0,0,0,0.1);
	}

.footer {
	background: #ffeff0;
	padding: 18px 0 21px;
}
.footer .copy {
	font-size: 87.5%;
	text-align: center;
	line-height: 1.2;
}
/*end price*/
/*end content*/
@media (max-width: 1200px) {
	.mainVisualInner .image {
    margin-right: 0;
	}
}
@media (max-width: 1169px) {
	.hidePC
	{
		display: none !important;
	}
	.hideSP {
		display: block !important;
	}
	.content {
		margin-top: 110.75px;
	}
	.wrap01, .wrap02 {
		width: 100%;
	}
	.mobileMenu,
	.hotline a.sp {
		display: block;
		position: relative;
	}
	.headerArea .navArea,
	.hotline a.pc {
		display: none;
	}
	.headerArea .wrap01 {
    padding: 0;
	}
	.headerArea .headerLogo {
    float: none;
		width: 100%;
    text-align: center;
		padding: 22px 0 23px;
		position: relative;
	}
	.headerLogo a {
		margin: 0;
		display: inline-block;
	}
	.headerLogo a img {
		width: 75%;
	}
	.hotline {
		position: relative;
		width: 100%;
		text-align: center;
		background: #52c6d4;
		margin-top: 0;
		padding: 4px 0 3px;
		font-size: 112.5%;
		float: none;
	}
	.hotline a.sp {
		display: inline-block;
		color: #fff;
		background: none;
		font-weight: 700;
	}
	.active_menu:after{
		content: "";
		position: fixed;
		background: #fddde0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 4;
	}
	.active_menu .topHeader:after{
		content: "";
		position: absolute;
		background: #fddde0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 4;
	}
	.mbMenu {
		position: absolute;
		top: -92px;
    right: 10px;
	}
	.mbMenu.active{
		position:fixed;
		top:15px;
		z-index:12;
	}
	.bar1, .bar2, .bar3 {
		width: 35px;
		height: 3px;
		margin-top: 7.5px;
		background-color: #333;
		border-radius: 1.5px;
		-o-transition: 0.4s;
		-moz-transition: 0.4s;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}
	.change.bar1 {
		-o-transform: rotate(-45deg) translate(-3px, 7px);
		-ms-transform: rotate(-45deg) translate(-3px, 7px);
		-moz-transform: rotate(-45deg) translate(-3px, 7px);
		-webkit-transform: rotate(-45deg) translate(-3px, 7px);
		transform: rotate(-45deg) translate(-3px, 7px);
		background-color: #333;
	}
	.change.bar2 {
		opacity: 0;
	}
	.change.bar3 {
		-o-transform: rotate(45deg) translate(-8px, -11px);
		-ms-transform: rotate(45deg) translate(-8px, -11px);
		-moz-transform: rotate(45deg) translate(-8px, -11px);
		-webkit-transform: rotate(45deg) translate(-8px, -11px);
		transform: rotate(45deg) translate(-8px, -11px);
		background-color: #333;
	}
	.dropMenu {
		position: relative; 
		width: 100%; 
		display: none;
		padding: 0 10px;
		clear: both;
		background: #fddde0;
		z-index: 12;
	}
	.menuList.nav-tabs>li {
		float: none;
		margin-bottom: 0;
	}
	.menuList.nav-tabs>li>a {
		padding: 20px 0;
		text-align: center;
		border-top: 1px solid #3d3d3d;
		font-size: 106.25%;
		color: #333;
	}
	.headerArea .menuList.nav-tabs>li>a:hover,
	.menuList.nav-tabs>li.active>a {
    border-top: 1px solid #3d3d3d !important;
		font-weight: 400 !important;
	}
	.headerArea .menuList.nav-tabs>li:first-child>a:hover,
	.menuList.nav-tabs>li:first-child.active>a {
    border-top: none !important;
	}
	.menuList li:first-child a {
		border-top: none;
	}
	.menuList li.active a,
	.menuList li a:hover {
		color: #fde57a;
	}
	.mainVisualInner {
		display: none;
	}
	.mainVisualSP {
		display: block;
		max-width: 750px;
		margin: 0 auto;
		padding-top: 33%;
		background: url(../images/mainVisual_bg_sp.jpg) center center no-repeat;
		background-size: 100% 100%;
	}
	.mainVisualSP li.image01 {
		padding: 5% 9.33%;
	}
	.mainVisualSP li.image02,
	.mainVisualSP li.image03 {
		padding-top: 5%;
	}
	.mainVisualSP li.image01 img {
		border: 1px solid #ddd;
	}
	.mainVisualSP .slick-next {
		width: 15px;
		height: 48px;
	}
	.mainVisualSP .slick-next {
		right: 10px;
		top: 48%;
	}
	.section01 {
    padding: 17px 0 30px;
    background-position: center top;
		background-size: auto 100%;
	}
	.section01 .title {
    width: 100%;
    padding: 0 10px;
    max-width: 750px;
    margin: 0 auto 16px;
	}
	.section01 .title img {
		width: 100%;
	}
	.section01 .slick-initialized .slick-slide {
    padding: 0;
	}
	.section01 .sec01List.pc {
		display: none !important;
	}
	.section01 .sec01List.sp {
		display: block;
		max-width: 750px;
		margin: 0 auto;
	}
	.section01 .sp img {
		width: 100%;
	}
	.section02 {
    padding: 20px 10px;
	}
	.section02 .section02Outer {
    width: 100%;
    max-width: 710px;
		max-height: 789px;
		background: url(../images/section02_video_bg_sp.png) center center no-repeat;
		background-size: 100% 100%;
	}
	.section02Inner {
    padding: 25px 14px 16px;
	}
	.section02Inner .video iframe {
		width: 100%;
    height: 100%;
    min-height: 185px;
	}
	br.sp {
		display: block;
	}
	br.pc {
		display: none;
	}
	.section02 p.text01 {
		font-size: 156.25%;
		margin-bottom: 10px;
	}
	.section02 p.text02 {
		font-size: 137.5%;
		margin-bottom: 16px;
    line-height: 1.1;
	}
	.section02 p.text03 {
		font-size: 156.25%;
		margin-top: 16px;
		margin-bottom: 8px;
		letter-spacing: 1px;
	}
	.section02 p.text04 {
		font-size: 125%;
		letter-spacing: 1px;
	}
	/*thanh*/
	#section03
	{
		min-height: auto!important;
	}
	.sec03InnerSp .title
	{
		display: block;
    max-width: 750px;
    margin: auto 0;
    padding: 28px 28px 15px 28px;
    width: 100%;
	}
	.sec03InnerSp .title img
	{
		width: 100%;
	}
	.sec03InnerSp .step
	{
	  width: 100%;
    padding: 0 10px;
    max-width: 750px;
    margin: 0 auto 2px;
	}
	
	.sec03InnerSp .step .step01
	{
		padding: 9px 14px 0 2px;
	}
	.sec03InnerSp .step .step02
	{
		padding: 12px 2px 0 0;
	}
	.sec03InnerSp .step .step03
	{
		padding: 9px 0 0 0;
	}
	.sec03InnerSp .step li img
	{
		width: 100%;
	}
	.sec03InnerSp .step .point
	{
		padding-right: 20px;
		position: relative;
    left: -5px;
    top: -3px;
		margin-left: -5px;
	}
	#section04 {
		background: #abe6ed;
		min-height: auto!important;
	}
	.section04Inner {
    padding-bottom: 30px;
	}
	.section04Inner .slick-initialized .slick-slide
	{
		margin: 0 7.5px;
	}
	#section04 .section04Inner .title
	{
		width: 100%;
    padding: 30px 10px 26px;
    max-width: 750px;
    margin: 0 auto;
	}
	#section04 .section04Inner .title img
	{
		width: 100%;
	}
	#section04 .bannerList
	{
		margin: 0 auto;
	}
	#section04 .section04Inner .bannerList .boxSp
	{
		background: #d7f8fd;
    max-width: 100%;
		padding: 12px;
	}
	
	#section04 .bannerList .boxSp .txt
	{
		padding-top: 15px;
	}
	#section04 .bannerList .txt01
	{
		width: 100%;
    text-align: right;
    padding: 16px 0 0;
    float: none;
	}
	.section04Inner .bannerList .box .image
	{
		width: 100%;
    text-align: center;
    padding: 0 28px 0 38px;
		float: none;
	}
	.section04Inner .bannerList .box.tti .text {
		padding-right: 0;
	}
	.section04Inner .bannerList .box.itt .text {
		padding-left: 0;
	}
	.bannerList .slick-slide img {
		margin: 0 auto;
	}
	.section04Inner .bannerList .box .text .txt01
	{
		margin-top: 0;
		padding-right: 0;
	}
	.section04Inner .bannerList .box 
	{
		margin-bottom: 0;
		padding: 16px;
		min-height: 400px;
		box-sizing: border-box;
	}
	.section04Inner .bannerList .box.tti {
		padding-left: 16px;
	}
	.section04Inner .bannerList .box .text
	{
		width: 100%;
    font-size: 75%;
    font-family: "Constantia";
    letter-spacing: 0;
    padding: 11px 0 0;
	}
	.section04Inner .bannerList .box .text .txt {
    text-align: left;
    line-height: 1.25;
    letter-spacing: 0;
}
	.boxSp .pro
	{
		margin: 0 auto;
		padding: 0 15px;
	}
	#section05
	{
		padding: 25px 10px 29px;
	}
	#section05 .sec05Top ul li
	{
		display: block;
	}
	.sec05Top .sp50
	{
		padding: 0;
    width: 44%;
    position: relative;
    left: -5px;
		z-index: 1;
	}
  .sec05Top .sp50 img
	{
		width: 100%;
		max-width: 313px;
	}
	.sec05Top .logo
	{
		width: 59%;
    padding-top: 0;
    position: absolute;
    top: 52px;
    right: 0;
		text-align: right;
		z-index: 0;
	}
	.sec05Top .logo img
	{
		width: 100%;
		max-width: 324px;
	}
	.sec05Top .star
	{
	  width: 12%;
    padding: 0;
    position: absolute;
    right: 0;
    top: 5px;
	}
	.sec05Top .star img
	{
		width: 100%;
	}
	.rel
	{
		position: relative;
	}
	.sec05Top 
	{
		margin-bottom: 24px;
	}
	.sec05Content .boxSp
	{
		width: 100%;
		display: inline-block;
	}
	.sec05Content .proShow
	{
		float: left;
		margin: 0;
		width: 35%;
		margin-right: 2%;
	}
	.sec05Content .proShow .coupon
	{
		width: 100%;
		margin-top: 7px!important;
		text-align: center;
	}
	.sec05Content .proShow .coupon img
	{
		width: 100%;
		max-width: 200px;
	}
	.sec05Content .proShow .sliderNav li
	{
		height: auto !important;
	}
	.sec05Content .price
	{
		width: 63%;
		float: left;
		margin: 0;
		min-height: unset;
		border: 1px solid #dbdbdb;
	}
	.sec05Content .price .box
	{
		width: 100%;
    padding: 0 0 19px 0;
		border-bottom: 1px solid #dbdbdb;
	}
	.sec05Content .price .box .txt01
	{
    font-size: 147.9%;
    padding: 11px 0 5px 0;
		text-align: center;
	}
	.sec05Content .price .box .txt02
	{
		font-size: 87.5%;
		padding-left: 18px;
		line-height: 1;
		text-align: center;
	}
	.price .priceBox {
    padding: 26px 0 25px;
	}
	.price .priceBox .txt01
	{
		font-size: 125%;
		line-height: 1;
	}
	.price .priceBox .txt02
	{
		font-size: 68.75%;
    margin: 10px 0 20px;
    background-size: 35px 29px;
    padding: 10px 0 30px;
	}
	.price .priceBox .txt03
	{
		font-size: 193.75%;
		letter-spacing: 0;
	}
	.sec05Content .contact
	{
		float: none;
		width: 100%;
	}
	.sliderFor
	{
		width: 100%;
		padding-right: 0;
	}
	.sliderFor .slick-slide 
	{
		width: 100%;
		padding-right: 1px;
	}
	.sliderFor .slick-slide img
	{
		width: 100%;
		height: auto;
	}
	.sliderNav
	{
		width: 100%;
	}
	.sliderNav img
	{
		width: 100%;
	}
	.sec05Content .contact
	{
		float: none;
		margin: 19px auto 0;
		padding: 23px 12px 24px;
		border: 1px solid #dbdbdb;
		min-height: unset;
	}
	.half #input-name, #input-email, #input-phone, #amount, #input-message
	{
		height: 31px;
    width: 100%;
    font-size: 75%;
    padding: 0 10px;
    border-radius: 12.5px;
    border: 1px solid #07a0e5;
    margin: 2px 0 4px 0;
	}
	.half #input-message
	{
		border-radius: 10px!important;
	}
	.contact .title h2 {
		padding: 0 33px;
	}
	.contact .title h2:before, 
	.contact .title h2:after {
    width: 24px;
    top: 12px;
	}
	.contact .title
	{
		font-size: 125%;
	}
	.contact p {
    text-align: center;
    line-height: 1;
    font-size: 75%;
    margin-bottom: 16px;
    padding-top: 3px;
    letter-spacing: 0;
  }
	.half #input-message {
    padding-top: 9px;
    padding-bottom: 4px;
  }
	.btnContact {
    padding-top: 10px;
	}
	#input-submit {
    min-height: 40px;
    height: auto;
		width: 100%;
		max-width: 59%;
    background-size: 100%;
    padding: 0;
	}
	.modal-dialog
	{
		width: 90%;
		margin: 0;
	}
	.alert-success
	{
		padding: 20px;
	}
	
	.footer {
    padding: 7px 0 11px;
	}
}
